.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  display: inline-block;
  width: 30%;
}

.btn {
  padding: 1.5%;
  border-radius: 50px;
  border-color: transparent;
  background-color: teal;
  color: #4ECCA3;
}

body {
  background-color: #393E30;
  text-align: center;
}

.main-title {
  font-size: 40px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 35%; 
  background-color: teal;
  border-color: red;
  border-radius: 15px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
